.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.everyoneTodosList {
  margin: 0 auto;
  background-color: rgb(232, 232, 255);
  border-radius: 8px;
  width: 800px;
  padding: 20px;
}

/* Listのカラム名 */
.everyoneTodosColumn {
  display: flex;
  text-align: center;
  font-weight: bold;
}

.everyoneTodosTitle {
  width: 440px;
}

.everyoneTodosCreated,
.everyoneTodosProgress,
.everyoneTodosCreator {
  width: 120px;
}

.myTodosLine {
  width: 780px;
  margin: 0 auto;
}

/* listの中の行 */
.myTodoColumn {
  display: flex;
  font-weight: bold;
  margin: 10px 0;
}
.myTodoTitle {
  width: 440px;
}

.myTodoCreated,
.myTodoProgress,
.myTodoAction {
  width: 120px;
  text-align: center;
}

.myTodoLine {
  width: 750px;
  margin: 0 auto;
}
